// Resets
// Typography
html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  max-width: 100vw;
  // background-color: $color-light-1;
  // background-color: $color-light-4;
}

a {
  text-decoration: none;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  padding: 1rem 2rem;
  outline: none;
  font-size: 1.6rem;
  border-radius: 30px;
}

textarea {
  font-size: 1.6rem;
  border-radius: 30px;
  border: 2px solid black;
  outline: none;
  padding: 2rem 1rem;
}
